html {
    box-sizing: border-box;
    background-color: blue;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.title-1 {
    background-color: brown;
    width: 980px;
    margin: o auto;  
}

